raw/nielsen/
input/rms_upc_month_level/
input/rms_all_info/
input/ncp_upc_month_level/
input/full_*.RData
full_*_7467_*.RData
smoke_firm_dir/raw/cleaned_RMS/
troubleshoot*
*.aux
*.log
*.out
*.o*
*.e*
*.stswp
*.synctex.gz
*.toc
*.bbl
*.blg
*.md5
*.dpth
*.auxlock
